.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.input-group-padding {
    padding-top: 20px;
}

.day-block {
    margin: 2px;
    width: 13.5%;
    background: #fffff1;
    float: left;
    height: 100px;
    overflow-y: scroll
}

.day-date {
    align-items: initial;
    padding: 10px;

}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
